<div class="mt-6 text-zinc-900">
    <form class="space-y-5">
        <div class="space-y-2">
            <input
                id="name"
                name="name"
                type="text"
                required
                class="w-full bg-background text-zinc-900 px-4 py-3 border-b border-[#294020] focus:ring-0 focus:ring-primary outline-none"
                placeholder="Your name"
            />
        </div>

        <div class="space-y-2">
            <input
                id="email"
                name="email"
                type="email"
                required
                class="w-full bg-background text-zinc-900 px-4 py-3 border-b border-[#294020] focus:ring-0 focus:ring-primary outline-none"
                placeholder="Your Email"
            />
        </div>

        <div class="space-y-2">
            <textarea
                id="subject"
                name="subject"
                rows="4"
                class="w-full bg-background text-zinc-900 px-4 py-3 border-b border-[#294020] focus:ring-0 focus:ring-primary outline-none"
                placeholder="How can we help you?"></textarea>
        </div>

        <div class="flex justify-center md:justify-start pt-2">
            <button
                type="submit"
                class="inline-flex items-center text-white rounded-full justify-center bg-[#294020] px-12 py-3 text-md font-medium text-background shadow-md transition hover:bg-primary focus-visible:outline focus-visible:outline-offset-2 focus-visible:outline-background"
            >
                Send
            </button>
        </div>
    </form>
</div>
