---
import { getCollection } from "astro:content";
const pages = await getCollection("pages");
import { PAYLOAD_URL } from "astro:env/client";
---

<section
    id="hero"
    class="relative isolate h-120 md:h-200 max-h-screen overflow-hidden bg-cover bg-top bg-no-repeat"
    style={`background-image: url(${PAYLOAD_URL}${pages[0].data.sections[0].primaryImage_url});`}
    transition:name="hero"
>
    <div class="relative mx-auto flex h-full container pt-42 justify-center">
        <div class="text-center">
            <h1 class="font-header font-bold text-[36px] sm:text-[48px] lg:text-[64px]">
                {pages[0].data.sections[0].title}
            </h1>
            <h2 class="pt-4 font-light text-[24px] lg:text-[40px]">
                {pages[0].data.sections[0].subtitle}
            </h2>
        </div>
    </div>
</section>
