<footer class="text-background bg-[#294020] text-white -mt-0.5" transition:name="footer">
    <!-- Bottom Bar -->
    <div class="mx-auto max-w-7xl px-4">
        <div
            class="flex flex-col gap-3 py-4 text-md text-background/85 text-center sm:flex-row sm:items-center sm:justify-between"
        >
            <p class="mb-0">Inception Advisory Services © 2026</p>
            <p class="mb-0">Developed By Pixel Friendly.</p>
        </div>
    </div>
</footer>
